<!-- Page 4: Display Customized Movie/TV Show Recommendation -->
<!-- https://shamp00the-cat.github.io/movierecs/-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
    <title>Watchify: Your Customized Movie/TV Show Recommendation</title>
</header>
<body>
{% if choice == "" %}
<h1>Would you like a movie or TV show recommendation?</h1>
    <form action="/recommendation" method="post">
        <input type="radio" name="choice" value="movie" id="movie" required>
        <label for="movie">Movie</label>
        <input type="radio" name="choice" value="tvshow" id="tvshow" required>
        <label for="tvshow">TV Show</label>
        <input type="submit" value="Get Recommendation">
    </form>
    <footer>
  {% elif choice == "movie" %}
    <h2>Recommended Movie: {{ recommended_movie['movie_name'] }}</h2>
    <p>Year: {{ recommended_movie['year'] }}</p>
    <p>Genre: {{ recommended_movie['genre'] }}</p>
    <p>Rating: {{ recommended_movie['rating'] }}</p>
    <p>Description: {{ recommended_movie['description'] }}</p>
    <p>Director: {{ recommended_movie['director'] }}</p>

    {% elif choice == "tvshow" %}
    <h2>Recommended TV Show: {{ recommended_show['title'] }}</h2>
    <p>Year: {{ recommended_show['year'] }}</p>
    <p>Duration: {{ recommended_show['duration'] }}</p>
    <p>Genre: {{ recommended_show['genre'] }}</p>
    <p>Rating: {{ recommended_show['rating'] }}</p>
    <p>Description: {{ recommended_show['description'] }}</p>
 
    
  {% endif %}

        <a href="{{ url_for('index') }}">Back to Home</a>
      </footer>
</body>