<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
    <title>Watchify: Your Customized Movie/TV Show Recommendation</title>
</header>
<body>
<h1>Would you like a movie or TV show recommendation?</h1>
    <form action="/recommendation" method="post">
        <input type="radio" name="choice" value="movie" id="movie" required>
        <label for="movie">Movie</label>
        <input type="radio" name="choice" value="tvshow" id="tvshow" required>
        <label for="tvshow">TV Show</label>
        <input type="submit" value="Get Recommendation">
    </form>
</body>