<!-- Page 1: Index -->
<!-- https://shamp00the-cat.github.io/movierecs/-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <header>
   <h1>Welcome to Watchify!</h1>
   <h2>Where Your Music Meets the Screen</h2>
  </header>
  <main>
   <p>
    Experience a world where your music listening history transforms into
    customized visual stories. At Watchify, explore the unique connection
    between your Spotify listening trends and tailored movie or TV show
    recommendations...
   </p>
   <ul>
    <li>Effortless Login</li>
    <li>Visualize Listening History</li>
    <li>Personalized Recommendations</li>
    <li>Downloadable Graphics</li>
   </ul>
   <footer>
    <a href="{{ url_for('login') }}">Proceed to Login</a>
   </footer>
  </main>
 </body>
</html>