<!-- Page 1: Index -->
<!-- https://shamp00the-cat.github.io/movierecs/-->

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Spotify Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


{% endblock %}

{% block title %}Watchify{% endblock %}

{% block body %}
<body>
    <header>
        <img src="{{ url_for('static', filename='images/Logotype.png') }}" alt="Watchify Logo" width="200" height="200">
        <h5>Where Your Music Meets the Screen</h5>
    </header>
    <main class="container">
        <p>
            Experience a world where your music listening history transforms into customized visual stories. At
            Watchify, explore the unique connection between your Spotify listening trends and tailored movie or TV
            show recommendations.
        </p>
        <div class="box-container">
            <ul class="list-group">
                <li class="list-group-item">Effortless Login</li>
                <li class="list-group-item">Visualize Listening History</li>
                <li class="list-group-item">Personalized Recommendations</li>
                <li class="list-group-item">Downloadable Graphics</li>
            </ul>
        </div>
        <footer class="text-center">
            <a href="{{ url_for('login') }}" class="btn btn-success">Proceed to Login</a>
        </footer>
    </main>
</body>
{% endblock %}
