<!-- Page 2: Login -->
<!-- https://shamp00the-cat.github.io/movierecs/-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <header>
    <title>Watchify: Login</title>
  </header>
  <body>
    <header>
      <h1>Secure Login</h1>
    </header>
    <main>
      <p>Rest assured, your credentials are safe with us...</p>
      <!-- Use auth_url here as href in anchor tag -->
      <a href="{{ auth_url }}" class="button">Login with Spotify</a>
      <footer>
        <a href="{{ url_for('index') }}">Back to Home</a>
      </footer>
    </main>
  </body>
</html>
